.navbar-brand {
    color: white;
  }

.form-check-label {
  color: white;
  margin-left: 0px;
}

.form-check-input {
  color: white;
  margin-right: 0px !important;
  padding: 0%;
}

.form-check-label {
  color: black;
}

.dropdown-item {
  color: white;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
body {
  font-family: 'Roboto Mono', monospace;
  background-color: black;
}


.navbar {
  background-color: #000000;
}

p {
  color: white;
}


h1{
  color: white;
}